<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=	, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="view-templates.css" />
  </head>
  <body>
    <div class="notification success">
      <span class="notification_circle"></span>
      Activo
    </div>

    <div class="notification progress">
      <span class="notification_circle"></span>
      Inactivo
    </div>

    <br /><br /><br /><br />

    <h4 class="template-name">
      Administración

      <div class="speech-bubble">
        Se encuentra deshabilitado por el administrador
        <span class="triangle"></span>
      </div>
    </h4>
  </body>
</html>
