* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f4;
    padding: 0 1rem;
}

.slider-hidden {
    display: none !important;
}

.container {
    max-width: 930px;
    width: 100%;
    margin: 32px auto;
}

.Slider {
    height: 70px;
    display: flex;
    justify-content: space-between;

    position: relative;

    background-color: #fff;
    border-radius: 6px !important;
    overflow: hidden;
}

.Slider__container {
    height: 100%;
    width: calc(100% - 32px);

    display: grid;
    grid-template-columns: repeat(12, 114px);

    list-style: none;
    overflow: hidden;
    scroll-behavior: smooth;
}

.Slider__container--item {
    margin-top: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #b6b6b6;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;

    user-select: none;

    position: relative;
}

.Slider__container--item.active {
    color: #32b474;

    position: relative;
}

.Slider__container--item.active::after {
    content: '';

    width: 85%;
    height: 5px;

    border-top-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
    background-color: #32b474;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.Slider__item--date {
    color: #d4d4d4;
    font-size: 12px;

    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
}

.Slider__container--item.active .Slider__item--date {
    color: #32b474;
}

.Slider__control {
    height: 100%;
    width: 32px;

    background-color: #acefcd;

    display: grid;
    place-items: center;

    cursor: pointer;

    z-index: 9;
}

.Slider__control i {
    font-size: 24px;
    color: #3eb07c !important;

    pointer-events: none;
}

@media (max-width: 768px) {
    .Slider__container {
        grid-template-columns: repeat(12, 100px);
    }
}
